# Archivos de configuración del editor
.editorconfig

# Módulos antiguos o experimentales
product_hello/

# Archivos comprimidos
*.tgz

# Archivos temporales de Odoo
*.pyc
*.pyo
__pycache__/
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

